<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @home.name %>
</p>

<p>
  <b>Title:</b>
  <%= @home.title %>
</p>
<p>
  <b>Avtar:</b>
  
</p>
<%= image_tag @home.avatar.url(:medium) %>


<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
